<!DOCTYPE html>

<html>

  <head>
    <title>URL Shortener</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link href="/public/style.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <div class="container">
      <h2>URL Shortener Microservice</h2>
      
        <div class="text">
          <p>You can enter a URL in the form at the end of the page with the format: <code>http(s)://www.example.com(/more/routes)</code>. If you enter in any other format it won't be valid and the API will return an error message: <code>{'error': 'Invalid long url'}</code></p>
          <p>If the URL provided is valid then the API will return the short URL created like this: <code>https://url-shortener-lb.glitch.me/api/shorturl/EcriEIaDj</code></p>   
          <p>If you copy and paste the short URL to the address bar you will be redirected to the original URL. All the URLs posted are saved in a database as are the corresponding short URLs.</p>
          <p>If you type in an invalid short URL, the API will respond with the following error message: <code>{'error': 'URL not found'}</code></p>
        </div>
      
        <h3>Example:</h3>
          <a href="https://url-shortener-lb.glitch.me/api/shorturl/WONEDRXJA">
            https://url-shortener-lb.glitch.me/api/shorturl/WONEDRXJA
          </a>

        <h3>Will redirect to:</h3>
        <p>https://www.freecodecamp.org/forum/</p>
      
        <h3>Short URL Creator: </h3>
          <form id="urlForm" action="api/shorturl/new" method="POST">
            <input id="url_input" type="text" name="url" placeholder="https://www.freecodecamp.org">
            <input class="button" type="submit" value="Shorten URL">
          </form>
      
      </div>
      <script>
        let shortUrl = document.createElement('p');
        document.querySelector('.container').appendChild(shortUrl);
        shortUrl.id = 'shortUrl';
        shortUrl.style.display = 'none';
        
        document.querySelector('#urlForm').addEventListener('submit', e => {
          e.preventDefault();
          let url = document.querySelector('#url_input').value;
          
          fetch('/api/shorturl/new', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json',
                },
                body: JSON.stringify({url: url})
          })
          .then(res => res.json())
          .then(data => {
            if(data.short_Url) {
              let result = JSON.stringify(data.short_Url);
              shortUrl.innerText = result.replace(/\"/g, "");
            } else {
              shortUrl.innerText = JSON.stringify(data);
            }
            shortUrl.style.display = 'inline-block';
          })
        });
      </script>

  </body>

</html>